@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}

*, ::after, ::before {
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

/* --------------------------------- HEADER ----------------------------------*/
.landing {
    height: 100vh;
    margin-top: 60px;
}

.home-inner {
    background-image: url('../images/rawan-yasser.jpg');   
}

.landing {
   position: relative;
   width: 100%;
   display: table;
   z-index: -1;
}

.home-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.home-inner {
   display: table;
   top: 20px;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   transform: translateZ(0);
   -webkit-transform: translateZ(0);
   will-change: transform;
}

.caption {
    z-index: 1;
    position: absolute;
    top: 30%;
    text-align: center;
}

.text-light .text-uppercase span {
    color: #fff;
    border-bottom: 2px solid #fc798c !important;
    padding-bottom: 6px;
    /* text-shadow: 2px 2px 8px black; NOT WORKING! */
}

.btn {
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    padding: .5rem 1.2rem;  
    letter-spacing: 1.5px;
}

/* ----------------Header-footer--------------------- */

.header-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    background-color:transparent;
}

.header-footer a {
    color: #fff;
}


.header-footer a:hover {
    color: #fc798c;
}

.header-footer .social > * {
    margin-right: 20px;
    margin-left: 20px;
}


/* ---------------------------------- NAVBAR --------------------------------- */

.navbar {
    background-color: #2c2c54;
    box-shadow: 0 .4rem .4rem rgba(0,0,0,.2);
    
}

.navbrand img {
    width: .5rem;
    top: 15px;
}

@media (max-width: 576px) {
    .navbar-brand {
    width: 270px;
    }

}


.navbar-brand {
    margin: 0 5px 0 5px;
    
}

.navbar-subtitle {
    font-family: 'Montserrat';
    font-weight: 200;
    margin: 0 16px 0 12px;
    color: #F7F7FF;
}

.navbar-dark {
    display: flex;
    align-items: center;
    color: #fff;
    
}    

.navbar-nav {
    float: right;
    text-transform: uppercase;
    font-size: 0.75em;
}

.navbar-toggler {
    float: right;
    margin-right: 3px;
}

.nav-item {
    padding: .5rem;
    letter-spacing: .1rem;
}
a.nav-link {
    align-items: center;
}


.navbar a:hover {
    border-bottom: #fc798c 1.5px solid;
}

.navbar-nav .nav-link {
    color: #fff!important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #fc798c!important;
}

/* -------------------------------  CONTAINER ------------------------------ */

.training {
    display: border-box;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    text-transform:uppercase;
    font-size: 2.5em;
    color: #2c2c54;
    letter-spacing: 2px;

}



.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding: 15px 0 15px 0;
    margin-right: auto;
    margin-left: auto;
}

.img-thumbnail {
    width: 40%;
    float: right;
    margin: 2px 0 2px 2px;
}



 Sections General
*
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  background: rgba(44, 44, 84, 0.95);
  padding: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }
  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fc798c;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}


/* ------------------------------ ABOUT --------------------------------- */

.about-me .content {
    color: #fff;
}

.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #fc798c;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  padding-bottom: 10px;
}

.about-me .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #fc798c;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

/*-------------------------------  COUNTS  ------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  color: #fc798c;
  border-radius: 50px;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #fff;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fc798c;
}

/*--------------------------------  SKILLS  -------------------------------------*/
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.15);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #fc798c;
}


/*------------------------------- TESTIMONIALS  ----------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
  color: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid rgba(255, 255, 255, 0.12);
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #fff;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}


.bx {
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;

    -webkit-font-smoothing: antialiased;
    font-family: 'boxicons' !important;
}


/* ----------------------------  CONTACT FORM  -------------------------- */

.form-header{
    margin: -25px 0 15px 0;
    padding: 3px 0 0 3px;
}

.form-header p {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px 5px black;
    letter-spacing: 1.5px;
}

.purple-gradient {
    background: linear-gradient(40deg,#5454a0,#fc5f77) !important;
}
.card {
    border: 0;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5), 0 3px 10px 0 rgba(0,0,0,0.5);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5), 0 3px 10px 0 rgba(0,0,0,0.5);
}
 
.md-form {
    margin: auto;
    margin-top:15px;
    margin-bottom:5px;
    padding: 5px 0 5px;
}

.card-body .form-title {
    display: border-box;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    text-transform:uppercase;
    
    color: #2c2c54;
    letter-spacing: 2px;}

.card-body .w70 {
    width:70%;
}
.md-form label {
    font-family:'Montserrat';
    font-size:18px;
}
.md-form input,
.md-form textarea {
    padding:2px 0;
    border: none;
    border-bottom: 2px solid #2C2C54;
    outline: none !important;
    color: #333;
    font-family: 'Montserrat'
}

.md-form .form-control:focus {
    outline: none!important;
}

.btn-outline-info {
    color: #5454A0;
    border-color: #5454A0;
    font-size:18px;
    letter-spacing: 2px;
    font-family:'Montserrat', Roboto;
    font-weight:600;
}

.btn-outline-info .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info.active, .open>.dropdown-toggle.btn-outline-info .btn-outline-info:active:focus {
    background-color: #5454A0 !important;
    color: #fff !important;
    font-size:18px !important;
    letter-spacing: 2px !important;
    font-family:'Montserrat', Roboto !important;
    font-weight:600 !important;
}



/* -------------------------------  FOOTER  ------------------------ */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    background-color: #2c2c54;
}

.footer a {
    color: #fff;
}

.footer p {
    color: #fff;
    margin-top: 3px;
    font-family: 'Montserrat';
}
.footer a:hover {
    color: #fc798c;
}

.footer .social > * {
    margin-right: 20px;
    margin-left: 20px;
}

/*============= MEDIA QUERIES =============*/

/* Medium (md) devices (tablets, 768px and under) */
@media (max-width: 767.98px) {

}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/