@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}

a {
    color: #333;
    text-decoration: none;
}

/* ------------------------------- Header ----------------------*/
.landing {
    height: 80vh;
    margin-top: 60px;
}

.home-inner {
    background-image: url('../images/rawan-yasser.jpg');   
}

.landing {
   position: relative;
   width: 100%;
   display: table;
   z-index: -1;
}

.home-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.home-inner {
   display: table;
   top: 20px;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   transform: translateZ(0);
   -webkit-transform: translateZ(0);
   will-change: transform;
}

.caption {
    z-index: 1;
    position: absolute;
    top: 40%;
    text-align: center;
}

.btn {
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    padding: .5rem 1.2rem;  
    
}

/* ----------------------------- NAVBAR --------------------- */

.navbar {
    background-color: #2c2c54;
    
}

.navbrand img {
    height: 2rem;
    position: relative;

    
}

.navbar-brand {
    font-family: 'Cinzel Decorative','Pacifico', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    margin: 0 16px 0 12px;
    text-align: center;
    }

.navbar-subtitle {
    font-family: 'Montserrat';
    font-weight: 200;
    margin: 0 16px 0 12px;
    color: #F7F7FF;
}

.navbar-dark {
    display: flex;
    align-items: center;
    color: #fff;
    letter-spacing: .1rem;
}    

.navbar-nav {
    float: right;
    text-transform: uppercase;
    font-size: 0.75em;
}

a.nav-link {
    align-items: center;
}

.navbar a:hover {
    border-bottom: #ef798a 1.5px solid;
}

.navbar-nav .nav-link {
    color: #fff!important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #ef798a!important;
}

/* ----------------------------Container --------------------- */

.training {
    display: border-box;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    font-size: 2.5em;
    color: #2c2c54;

}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding: 15px 0 15px 0;
    margin-right: auto;
    margin-left: auto;
}

/* ----------------------------Footer------------------------- */



.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    background-color: #2c2c54;
}

.footer a {
    color: #fff;
}

.footer p {
    color: #fff;
    margin-top: 5px;
    font-family: 'Montserrat';
}
.footer a:hover {
    color: #ef798a;
}

.footer .social > * {
    margin-right: 30px;
}

/*============= MEDIA QUERIES =============*/

/* Medium (md) devices (tablets, 768px and under) */
@media (max-width: 767.98px) {

}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/